* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #4e4e4e;
}

.header-container {
    background-color: #323232;
    height: 188px;
}

.logo {
    display: inline-block;
    margin: 20px;
}

.logo .img-logo {
    margin: 20px 20px -10px 90px;
    width: 80px;
}

.logo .title-logo {
    color: rgb(245, 245, 58);
    font-size: 30px;
    font-weight: bold;
    text-shadow: black 2px 2px 2px;
}

.container-button {
    display: inline-block;
    margin: 0 0 0 1200px;
}

.container-button .name-button{
    display: inline-block;
    width: 160px;
    height: 30px;
    margin: 0 20px 0 10px;
    padding: 20px 0 20px 0;
    border-color: #00000000;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
}

.container-button .img-button {
    padding-left: 10px;
    width: 30px;
    height: 30px;
}

.container-navbar {
    position: absolute;
    background-color: #D5DD3C;
    width: 336px;
    height: 6345px;
    padding-top: 130px;
    text-align: center;
}

.menu-list li {
    list-style: none;
    margin: 40px;
}

.menu-list li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.container-info {
    margin: 5690px 0 0 60px;
    text-align: start;
}

.container-info ul li {
    margin: 25px 0 25px 0;
    list-style: none;
}

.container-info img {
    display: inline-block;
    width: 38px;
}

.container-info p {
    display: inline-block;
    width: 190px;
    font-weight: bold;
}

.container-main {
    margin-left: 336px;
}

.index-home {
    background-image: url('../../assets/images/index.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 864px;
}

.container-title-home {
    padding: 160px;
    text-align: center;
}

.title-home {
    margin: 0 0 0 -300px;
    color: white;
    font-size: 90px;
    text-shadow: 3px 3px black ;
    letter-spacing: 3px;
}

.title-home .getfit-home {
    position: absolute;
    margin: 100px 0 0 -70px;
    color: #E3EC39;
    font-size: 90px;
}

.index-home .text-home {
    width: 820px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    margin: 30px auto 0 auto;
    color: white;
}

.container-title-section-page {
    padding: 120px;
    text-align: center;
}

.title-section-page {
    margin: 0 0 0 -200px;
    color: white;
    font-size: 90px;
    text-shadow: 3px 3px black ;
    letter-spacing: 3px;
}

.title-section-page .second-part-title {
    position: absolute;
    margin: 100px 0 0 -70px;
    color: #E3EC39;
    font-size: 90px;
}

.our-story {
    font-size: 50px;
}

#our-story {
    font-size: 50px;
}
    
.container-cards {
    margin: auto;
}

.container-cards .cards-features {
    width: 452px;
    height: 288px;
    margin: 0 0 0 300px;
}

.container-cards .cards-features h5 {
    margin: 20px 0 0 0;
    padding: 50px 0 0 0;
    font-size: 40px;
    color:#D5DD3C;
    text-align: center;
}

.container-cards .cards-features p {
    width: 80%;
    margin: 30px auto 0 auto;
    font-size: 20px;
    color:white;
    text-align: center;
    font-weight: 600;
}

.container-cards .reservation {
    background-image: url("../../assets/images/reservations.png");
    box-shadow: black 1px 5px 10px;
    border-radius: 8px;
}

.container-cards .memberships {
    background-image: url("../../assets/images/memberships.png");
    box-shadow: black 1px 5px 10px;
    border-radius: 8px;
}

.container-cards .schedule {
    background-image: url("../../assets/images/schedule.png");
    box-shadow: black 1px 5px 10px;
    border-radius: 8px;
    position: absolute;
    margin: -600px 0 0 820px;
}

.container-cards .contact {
    background-image: url("../../assets/images/contactSuggestions.png");
    box-shadow: black 1px 5px 10px;
    border-radius: 8px;
    position: absolute;
    margin: -290px 0 0 820px;
}

.container-form {
    width: 80%;
    height: 451px;
    margin: auto;
    background-color:white;
    border: solid #00000000;
    border-radius: 30px;
}

.container-form .container-inputs {
    display: inline-block;
    width: 100%;
    margin: 40px 0 0 0;
    border: none;
}

.container-form div {
    display: inline-block;
    margin: -10px 0 0 0;
    padding-left: 50px;
    border: none;
}

.container-form div input {
    background-color: #c5c5c5;
    padding-left: 10px;
    width: 200px;
    height: 40px;
    border-radius: 6px ;
}

.container-form div select {
    background-color: #c5c5c5;
    width: 200px;
    height: 40px;
    border-radius: 6px ;
}

.container-form .input-message {
    margin: 30px 0 0 15px;
    width: 90%;
    height: 120px;
}

.container-form .input-message p {
    margin-bottom: 10px;
}

.container-form .input-message textarea {
    background-color: #c5c5c5;
    padding: 10px;
    width: 100%;
    height: 120px;
    border: none;
    border-radius: 20px;
}

.container-form .button-send-form {
    background-color: #D5DD3C;
    margin: 60px 0 0 570px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#Activities .container-cards-activities {
    height: 600px;
}

#Activities .cards-activities {
    display: inline-block;
    height: 190px;
    width: 300px;
    border-radius: 15px;
    box-shadow: black 0px 0.5px 4px;
    margin: 40px 0 0 70px;
}

#Activities .cards-activities h5 {
    background-color: #0000003f;
    text-align: center;
    margin: 60px auto 0 auto;
    font-size: 35px;
    color: #ffffff;
    border-radius: 100px;
    width: 180px;
}

#Activities .container-cards-activities .crossfit {
    margin: 0 0 0 380px;
    background-image: url("../../assets/images/crossfit.png");
    background-repeat: no-repeat;
}

#Activities .container-cards-activities .box {
    background-image: url("../../assets/images/box.png");
    background-repeat: no-repeat;
}

#Activities .container-cards-activities .functional {
    position: absolute;
    margin: 280px 0 0 -490px;
    background-image: url("../../assets/images/functional.png");
    background-repeat: no-repeat;
}

#Activities .container-cards-activities .spinning {
    position: absolute;
    margin: 280px 0 0 -870px;
    background-image: url("../../assets/images/spinning.png");
    background-repeat: no-repeat;
}

#Activities .container-cards-activities .fitness {
    position: absolute;
    margin: 280px 0 0 -120px;
    background-image: url("../../assets/images/fitness.png");
    background-repeat: no-repeat;
}

#Memberships ul {
    width: 480px;
    margin: 40px auto 0 auto;
}

#Memberships ul li {
    list-style: none;
    margin: 80px 0 80px 0;
}

#Memberships ul li h5, .sentence {
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
}

#Memberships ul li h5 {
    font-size: 35px;
    color: #D5DD3C;
    margin: 70px 0 0 110px;
    width: 250px;
    text-align: center;
}

#Memberships ul li .sentence {
    font-size: 25px;
    color: #ffffff;
    width: 310px;
    text-align: center;
}

#Memberships ul li .first-phrase-membership {
    margin: 200px 0 0 90px;
}

#Memberships ul li .second-phrase-membership {
    margin: 260px 0 0 90px;
}

#Memberships ul li .third-phrase-membership {
    margin: 340px 0 0 90px;
}

#Memberships ul li .membership-schedule-view {
    margin: 450px 0 0 90px;
}

#Memberships ul li img {
    filter: brightness(30%);
}

#OurStory {
    margin:200px 0 200px 390px;
}

.our-story {
    margin: 0 0 -90px -160px;
}

#OurStory .container-text-our-story {
    background-color: #b0b0b0;
    border-radius: 20px;
    width: 650px;
    margin: 0 -40px 0 100px;
    padding: 20px 50px 10px 50px;
    text-align: center;
}

#OurStory .container-text-our-story .our-story-sentence {
    margin-bottom: 20px;
    font-size: 25px;
    color:  #404040;
}

.container-footer {
    background-color: #323232;
}

.container-footer .container-social {
    position:relative;
    top: 30px;
    display: inline-block;
    margin: 0 0 -90px 0;
}

.container-footer .container-social .social-links {
    display: inline-block;
    margin: 40px 20px 0 40px;
    padding: 0 30px 0 50px;
    font-size: 25px;
    color: #ffffff;
}

.container-footer .container-social .social-links img {
    margin: 0 20px -30px 0;
}

.container-footer .footer-reserved {
    display: inline-block;
    margin: 0 0 50px 1500px;
    text-align: center;
    color: #ffffff;
}