<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/images/logo.png" >
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>MEGA ROCKET S.A - Sign up</title>
</head>
<body>
    <header class="header-container">
        <div class="logo" >
            <img src="../../assets/images/logo.png" alt="Logo Mega Rocket GYM" class="img-logo" >
            <p class="title-logo" >MEGA ROCKET S.A</p>
        </div>
        <div class="container-button" >
            <a href="./sign-up.html" class="name-button">
                Sign up
                <img src="../../assets/images/signUp.png" alt="Sign up icon" class="img-button" >
            </a>
            <a href="./login.html" class="name-button">
                Log in
                <img src="../../assets/images/user1.png" alt="Login icon" class="img-button" >
            </a>
        </div>
        <img src="../../assets/images/Icon-burger.png" alt="icon burger menu" class="icon-burger" >
    </header>
    <main>
        <aside class="container-navbar" >
            <div class="container-navbar-sticky">
                <nav>
                    <div class="container-buttons-responsive">
                        <a href="./sign-up.html">Sign up</a>
                        <a href="./login.html">Log in</a>
                    </div>
                    <ul class="menu-list">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="#Features">FEATURES</a></li>
                        <li><a href="#ContactUs">CONTACT US</a></li>
                        <li><a href="#Activities">ACTIVITIES</a></li>
                        <li><a href="#Memberships">MEMBERSHIP</a></li>
                        <li><a href="#OurStory">OUR STORY</a></li>
                    </ul>
                </nav>
                <div class="container-info">
                    <div>
                        <img src="../../assets/images/mapa.png" alt="icon map">
                        <p>Av. Pellegrini 3535</p>
                    </div>
                    <div>
                        <img src="../../assets/images/ring-phone.png" alt="icon phone">
                        <p>+464 206 96</p>
                    </div>
                </div>
            </div>
        </aside>
        <div class="container-button-route">
            <a href="../views/index.html">← Go back to index</a>
        </div>
        <div class="container-sign-up">
            <h2>Sign up</h2>
            <form class="container-form">
                <div class="form-container-label-input">
                    <div  class="container-label-input">
                        <label for="">Name</label>
                        <input type="text" placeholder="Name">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Surname</label>
                        <input type="text" placeholder="Surname">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Email</label>
                        <input type="text" placeholder="Email">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Password</label>
                        <input type="password" placeholder="Password">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Confirm password</label>
                        <input type="password" placeholder="Confirm password">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">DNI</label>
                        <input type="text" placeholder="DNI">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Date</label>
                        <input type="date" placeholder="Date">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Phone</label>
                        <input type="text" placeholder="Phone">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Address</label>
                        <input type="text" placeholder="Address">
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Location</label>
                        <select name="Location">
                            <option value="Montevideo">Montevideo</option>
                            <option value="Canelones">Canelones</option>
                            <option value="Punta del este">Punta del este</option>
                        </select>
                        <div class="container-message-error"></div>
                    </div>
                    <div class="container-label-input">
                        <label for="">Postal code</label>
                        <input type="text" placeholder="Postal code">
                        <div class="container-message-error"></div>
                    </div>
                </div>
                <button type="submit" class="register-button">Register</button>
                <a href="./login.html" class="you-do-have-user">¿You do have a user? Log in</a>
            </form>
        </div>
    </main>
    <script src="../js/sign-up.js"></script>
</body>
</html>