@media screen and (min-width: 1024px) {
    .container-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        background-color: #323232;
        height: 9rem;
    }
    
    .container-footer .container-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:  0 1rem;
    }
    
    .container-footer .container-social .social-links {
        display: flex;
        flex-direction: row;
        padding: 0 30px 0 50px;
        font-size: 25px;
        color: #ffffff;
    }
    
    .container-footer .footer-reserved {
        display: block;
        align-self: center;
        text-align: center;
        color: #ffffff;
        margin:  0 2rem;
    }

    .container-info-footer {
        display: none;
    }
    
}

@media screen and (max-width:1024px) {

    .container-info-footer {
        display: flex;
        justify-content: center;
        gap: 1rem;

    }

    .container-info-footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #525252;
    }

    .container-info-footer div p {
        margin: 1.2rem 0 1.2rem 0;
        list-style: none;
    }

    .container-info-footer div img {
        width: 2rem;
        height: 2rem;
    }

    .container-info-footer p {
        display: inline-block;
        font-weight: bold;
    }
}