@media screen and (min-width: 390px) {
    
    .container-main .container-navbar {
        display: none;
    }

    /* ------- home ------ */

    .index-home {
        background-image: url('../../assets/images/background-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 40rem;
    }
    
    .container-title-home {
        padding: 2rem 1rem 6rem 0;
        text-align: center;
    }
    
    .title-home {
        margin: 2rem 0 0 -3rem;
        color: white;
        font-size: 2.8rem;
        text-shadow: 3px 3px black ;
        letter-spacing: 3px;
    }
    
    .title-home .getfit-home {
        position: absolute;
        margin: 3rem 0 0 -7rem;
        color: #E3EC39;
        font-size: 2.8rem;
    }
    
    .index-home .container-text-home {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        width: 80%;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin: 6rem auto 0 auto;
        color: white;
    }

    /* -------- features -------- */

    .container-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .container-cards .cards-features {
        width: 17rem;
        height: 12rem;
    }
    
    .container-cards .cards-features h5 {
        margin: 3rem 0 0 0;
        font-size: 1.7rem;
        color:#D5DD3C;
        text-align: center;
    }
    
    .container-cards .cards-features p {
        font-size: 0.9rem;
        color:white;
        text-align: center;
        font-weight: 600;
    }
    
    .container-cards .reservation {
        background-image: url("../../assets/images/reservations.png");
        box-shadow: black 1px 5px 10px;
        border-radius: 1.6rem;
    }
    
    .container-cards .memberships {
        background-image: url("../../assets/images/memberships.png");
        box-shadow: black 1px 5px 10px;
        border-radius: 1.6rem;
    }
    
    .container-cards .schedule {
        background-image: url("../../assets/images/schedule.png");
        box-shadow: black 1px 5px 10px;
        border-radius: 1.6rem;
    }
    
    .container-cards .contact {
        background-image: url("../../assets/images/contactSuggestions.png");
        box-shadow: black 1px 5px 10px;
        border-radius: 1.6rem;
    }

    /* ------- contact us ------- */

    .container-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin: auto;
        background-color:white;
        border: solid #00000000;
        border-radius: 30px;
        text-align: center;
        margin-top: -2.5rem;
    }
    
    .container-form .container-inputs {
        border: none;
    }
    
    .container-form div {
        border: none;
    }
    
    .container-form div input {
        background-color: #c5c5c5;
        width: 95%;
        height: 1.5rem;
        border-radius: 6px;
        text-align: center;
    }

    .container-form div select {
        background-color: #c5c5c5;
        width: 97%;
        height: 1.8rem;
        border-radius: 6px ;
    }
    
    .container-form .input-message {
        padding-bottom: 2rem;
    }
    
    .container-form .input-message p {
        margin-bottom: 10px;
    }
    
    .container-form .input-message textarea {
        background-color: #c5c5c5;
        padding: 10px;
        width: 90%;
        height: 7rem;
        border: none;
        border-radius: 20px;
        resize: none;
    }
    
    .container-form .button-send-form {
        background-color: #D5DD3C;
        width: 90px;
        height: 40px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        margin: 0 auto 2rem auto;
    }

    /* -------- activities --------- */

    #Activities .container-cards-activities {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
    
    #Activities .cards-activities {
        height: 190px;
        width: 300px;
        border-radius: 15px;
        box-shadow: black 0px 0.5px 4px;
        margin: auto;
    }
    
    #Activities .cards-activities h5 {
        background-color: #0000003f;
        text-align: center;
        margin: 60px auto 0 auto;
        font-size: 35px;
        color: #ffffff;
        border-radius: 100px;
        width: 180px;
    }
    
    #Activities .container-cards-activities .crossfit {
        background-image: url("../../assets/images/crossfit.png");
        background-repeat: no-repeat;
    }
    
    #Activities .container-cards-activities .box {
        background-image: url("../../assets/images/box.png");
        background-repeat: no-repeat;
    }
    
    #Activities .container-cards-activities .functional {
        position: absolute;
        margin: 280px 0 0 -490px;
        background-image: url("../../assets/images/functional.png");
        background-repeat: no-repeat;
    }
    
    #Activities .container-cards-activities .spinning {
        background-image: url("../../assets/images/spinning.png");
        background-repeat: no-repeat;
    }
    
    #Activities .container-cards-activities .fitness {
        background-image: url("../../assets/images/fitness.png");
        background-repeat: no-repeat;
    }

    
    /* --------- memberships ---------- */

    #Memberships {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #Memberships ul{
        padding: 0;
    }

    #Memberships ul li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        height: 20rem;
        width: 80%;
        margin: 1rem auto 3rem auto;
        border-radius: 2rem;
    }
    
    #Memberships ul li h5, .sentence {
        z-index: 1;
        text-transform: uppercase;
    }
    
    #Memberships ul li h5 {
        font-size: 1.3rem;
        color: #D5DD3C;
        text-align: center;
    }
    
    #Memberships ul li .sentence {
        font-size: 0.9rem;
        color: #ffffff;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    
    #Memberships ul .only-classes-membership {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/OnlyClassesMembership.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #Memberships ul .classic-membership {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/ClassicMembership.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #Memberships ul .black-membership {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/BlackMembership.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* --------- our story -------- */

    #OurStory .container-text-our-story {
        background-color: #b0b0b0;
        border-radius: 20px;
        width: 80%;
        height: 8rem;
        padding: 1rem;
        margin: 0 auto 4rem auto;
        text-align: center;
    }
    
    #OurStory .container-text-our-story .our-story-sentence {
        font-size: 0.8rem;
        color:  #404040;
    }

    /* ------- footer -------- */

    .container-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #C4C4C4;
    }
    
    .container-footer .container-social {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0 2rem 0;
    }
    
    .container-footer .container-social .social-links {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: #000000;
    }
    
    .container-footer .container-social .social-links img {
        width: 2.5rem;
    }
    
    .container-footer .footer-reserved {
        text-align: center;
        color: #666666;
    }
    
}